@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Monaco";
    src: local("Monaco"), url(./fonts/Monaco.ttf) format("truetype");
  }

body {
  font-family: Poppins;
}